@media only screen and (max-width: 600px) {
    .v-data-footer {
        justify-content: center;
        padding-bottom: 8px;
    }

    .v-data-footer .v-data-footer__select {
        margin: 0 auto !important;
    }

    .v-data-footer .v-data-footer__pagination {
        width: 100%;
        margin: 0;
    }

    .v-application--is-ltr .v-data-footer__select .v-select {
        margin: 5px 0 5px 13px;
    }

    .v-application--is-rtl .v-data-footer__select .v-select {
        margin: 5px 13px 5px 0;
    }
}